*, *::,before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
  border: solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  height: 100vh;

}
.calc{
  border: solid black;
}
.calc, .buttons{
  display: flex;
  flex-wrap: wrap;
    /*display: grid;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
    padding-bottom: 5px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
    width: 600px;
   /*margin-right: 0;*/
}


.calc{
  background: rgb(21, 104, 94);
  margin: 0;
  padding: 0;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  border: solid rgb(106, 106, 201);
  border-width: 5px;
  width: 400px;
  padding: 1em;
}
.buttons > button {
    cursor: pointer;
    border: solid rgb(213, 136, 64);
    border-width: 1px;
    border-radius: 40px;
    box-shadow: 3px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 100px;
    height: 80px;
  }
  

  .display{
    /*grid-column: 1 / span 4;*/
    border: solid rgb(24, 88, 78);
    border-width: 2px;
    height: 100px;
    width: 420px;
    border-radius: 40px;
    text-align: right;
    font-size: 45px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(175, 81, 10);
  }
  
  
  #equal, #clear{
   width: 200px;
  }
  button:hover {
    background-color: orange;

  }
  button:active {
    background-color: rgb(101, 167, 101);

  }